body {
	height: 100vh;
	margin:	0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient( #2196f3, #e91e63)
}

.contenedor{
	width: 360px;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0 20px 50px rgba(255,255,255,0.1);
	border-top: solid rgba(255,255,255,0.5);
	border-left: solid rgba(255,255,255,0.5);
	border-bottom: solid rgba(255,255,255,0.5);
	border-right: solid rgba(255,255,255,0.5);
	background: rgba(255,255,255,0.1);
}

.contenedor input[type="text"] {
	width: 100%;
	height: 100px;
	margin: 0 3px;
	outline: none;
	border: none;
	color: #fff;
	text-align: right;
	font-size: 20px;
	background: transparent;
}


.contenedor input[type="button"] {
	height: 65px;
	color: #fff;
	width: calc(100% / 4 - 5px)
	font-size: 20px;
	padding: 28px;
	border-radius: 12px;
	margin-right: 5px;
	margin-left: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	background: transparent;
}

.contenedor input[type="button"]:hover {
	background: rgba(255,255,255,0.2)
}

.buttons {
}